<!DOCTYPE html>
<html>
  <head>
    <title>My Website</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="header">
      MY WEBSITE
    </div>
    <div class="nav">
      <a href="/home">HOME</a>
      <a href="/blog_posts">BLOG</a>
    </div>

    <div class="content">
      <%= yield %>
    </div>

  </body>
</html>
